<div id="clearance" class="sign-in">
<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major">
							<h2>Already have an account? Sign-in below</h2>
						</header>
						<!-- Content -->
							<section id="content">
								 <%= render partial: '/sessions/form' %>
							</section>

					</div>
				</div>
 

</div>
