
<div id="main" class="wrapper style1">
          <div class="container">
            <header class="major">
              <h2>Rent your Motorbike</h2>
              <p>It's sitting in your garage, rent it out</p>
            </header>
            <div class="row 150%">
              <div class="4u 12u$(medium)">

                <!-- Sidebar -->
                  <section id="sidebar">
                    <section>
                      <h3>See the last vehicles for rent:</h3>
                      <%= render partial: @vehicles %>
                

              </div>
              <div class="8u$ 12u$(medium) important(medium)">

                <!-- Content -->
                  <section id="content">
                    <a href="#" class="image fit"><%=image_tag "picgarage.jpg" %></a>
                    <h3>Have a motorbike to rent? Create its profile here!</h3>
                    <%= render partial: "vehicles/new" %>
                    </section>

              </div>
            </div>
          </div>
        </div>
